.burger {
  cursor: pointer;

  position: relative;
  align-self: center;
  z-index: 1003;

  min-width: 30px;
  min-height: 15px;

  width: 4.167vw;
  height: 2.167vw;

  max-width: 50px;
  max-height: 26px;

  margin: 22px 0;

  stroke: $black;
  stroke-width: 2;
}

.line {
  transition: .3s;
}

.line_2 {
  transition: .3s;
  opacity: 0;
}

.burger.active .line {
  opacity: 0;
}

.burger.active .line_2 {
  opacity: 100;
}

.burger_menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  width: 15.6vw;
  height: 95vh;
  max-width: 0;

  max-height: 900px;

  background-color: $white;

  transition: .2s linear;
}

.burger_menu.active {
  max-width: 100%;
  width: 340px;
  overflow: auto;
}


.burger__links {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  gap: 40px;
}

.burger__link {
  font-family: $mainFont;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;

  color: $black;

  text-transform: uppercase;
  text-decoration: none;

  transition: .1s;
}

.burger__link:hover {
  color: $magenta;

  text-decoration: underline;
}

.burger__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.social__link {
  position: relative;

  display: inline-block;
  width: 48px;
  height: 48px;
}

.social__link .default {
  position: absolute;

  opacity: 1;
  transition: .3s;
}

.social__link .hover {
  position: absolute;

  opacity: 0;
  transition: .3s;
}

.social__link:hover .hover {
  opacity: 1;
}

.social__link:hover .default {
  opacity: 0;
}

.contacts__iner span {
  width: 80%;
  height: 0px;
  border-bottom: 2px black solid;
}

.contacts__iner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.cont {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;

  margin: 20px auto 0;

  color: black;

  transition: .1s;
}

.cont:hover {
  color: $magenta;
}

@media screen and (max-width:1024px) {
  .burger {
    min-width: 9.375vw;
    min-height: 4.6875vw;
  }

  .burger_menu {
    width: 100%;
  }

  .burger_menu.active body {
    overflow: hidden;
  }

  .burger__link {
    font-size: 6em;
  }

  .cont,
  .leng__burger,
  .leng {
    font-size: 4em;
  }

  .burger__social {
    transform: scale(2);
  }
}

@media screen and (max-height:820px) and (max-width:1024px) {
  .burger_menu {
    overflow: scroll;
    padding-top: 100vh;
    gap: 10vh;
  }

}