@import "./fonts/fonts";

$mainFont: 'Gotham Pro', sans-serif;
$secondFont: 'Raleway', sans-serif;
// ====== COLOR ====== //
$black: #272727;
$magenta: #7c5ae1;
$white: #ebebeb;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {

  background-color: $magenta;
  color: $white;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  background-color: $white;
}

svg {
  fill: inherit;
  stroke: inherit;
}

path {
  fill: inherit;
  stroke: inherit;
}


.noize {
  background-image: url("./img/noize_150x150.png");
  background-repeat: repeat;
}

.shadow {
  box-shadow: 0 0 5px $black;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  align-items: center;

  position: fixed;
  z-index: 1000;

  padding: 0 1vw;

  width: 100%;
  max-height: 70px;
}

.header__iner {
  display: flex;
  align-items: center;

  gap: 1.6vw;
}

.header__iner span {
  transition: .2s linear;
}

.header__iner span.active {
  margin-right: 280px;
}

.logo {
  cursor: pointer;

  align-self: center;

  max-width: 150px;
  max-height: 18px;

  margin: 2.167vw 0;
}

.logo__svg {
  fill: $black;
}

.leng__burger,
.leng {
  cursor: pointer;
  display: inline-block;

  font-family: $mainFont;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: black;

  margin: 10px;

  text-transform: uppercase;

  opacity: 40%;

  transition: .2s;
}

.leng__burger.active,
.leng.active {
  opacity: 100%;
}

.leng__burger:hover,
.leng:hover {
  opacity: 100%;
  color: $magenta;

  transform: scale(1.01);
}

.main__content {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  max-width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 15px;

  background-color: rgba($color: #272727, $alpha: .5);
  transition: .6s;

  gap: 10px;
}

.footer:hover {
  background-color: rgba($color: #272727, $alpha: .9);
}

.footer a {
  font-family: $mainFont;
  font-size: 10px;
  font-weight: 900;

  text-decoration: none;
  text-align: center;

  color: $white;

  transition: .2s;
}

.footer a:hover {
  color: $magenta;
}

@media screen and (max-width:1024px) {
  .leng {
    display: none;
  }

  .header {
    padding: 0 3.37vw;
    min-height: 18.75vw;
  }

  .logo {
    min-width: 40.625vw;
    min-height: 4.2vw;
  }

  .main__content {
    padding-top: 18.75vw;
  }
}

@media screen and (min-width:1025px) {
  .leng__burger {
    display: none;
  }
}

@import "./burger";
@import "./mainpage";
@import "./parthers";
@import "./team";